.container {
  width: 98vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;   
  padding: 10px;
  font-family: 'Passions Conflict', cursive;  
}

.container_boceto {
  width: 27%;  
}

.boceto {
  width: 100%;  
}

section div ul{
  list-style: none;
  padding: 10px;
}
section div ul li{
  margin-bottom: 5px;
}

section div>h4 {
  text-align: center;
}

section div>a {
  color: lightsalmon;  
  border-radius: 3px;
  margin-left: auto;
  cursor: pointer;
}

.container_contenido iframe{
  width: 100%;
  height: 100%;
}

.container_contenido {  
  justify-content: center;
}

iframe{
  min-height: 500px;
}