body{
  width: 100vw;
  min-height: 90vh;
}


.container {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Passions Conflict', cursive;
}

.container_boceto {
  width: 26%;
  padding: 5px;
}

.boceto {
  width: 100%;
}

.presentacion {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article img{
  width: 40%;
  padding: 10px;
  border-radius: 100%;
}

article ul{
  list-style: none;
  padding: 10px;
}

h4{
  padding-bottom: 10px;
}

article div {
  width: 20%;
  background-color: rgb(255, 160, 122, 0.6);  
  border-radius: 3px;
  margin: 2px;
  text-align: center;
  color: grey;
  cursor: pointer;
}
article div:hover {
  width: 20%;
  background-color: rgb(255, 160, 122, 0.2);  
  border-radius: 3px;
  margin: 2px;
  text-align: center;
  color: #363636;
  cursor: pointer;
}

article div>a {
  color: grey;
  cursor: pointer;
}
article div>a:hover {
  color: #363636;
  cursor: pointer;
}