.container {
  width: 90vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2%;
  font-family: 'Passions Conflict', cursive;
}

.presentacion {
  width: 65%;
  align-items: center;
}



.container_boceto {  
  width: 25%;
}
.boceto {
  width: 100%;
}